<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Add Event</title>
</head>
<body>
    <h1>Add Event</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <input type="hidden" name="year" value="{{ selected_year }}">
        <div>
            {{ form.title.label }}<br>
            {{ form.title(size=64) }}
        </div>
        <div>
            {{ form.date.label }}<br>
            {{ form.date(size=32) }}
        </div>
        <div>
            {{ form.description.label }}<br>
            {{ form.description(size=128) }}
        </div>
        <div>
            {{ form.time.label }}<br>
            {{ form.time(size=10) }}  <!-- Add time field -->
        </div>
        <div>
            {{ form.location.label }}<br>
            {{ form.location(size=64) }}  <!-- Add location field -->
        </div>
        <div>
            <button type="submit">Add Event</button>
        </div>
    </form>
</body>
</html>
