<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Add Event</title>
</head>
<body>
    <h1>Add Event</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <input type="hidden" name="year" value="{{ selected_year }}">
        <div>
            {{ form.title.label }} {{ form.title(size=20) }}
        </div>
        <div>
            {{ form.date.label }} {{ form.date() }}
        </div>
        <div>
            {{ form.description.label }} {{ form.description(rows=3) }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</body>
</html>
